---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';

interface Project {
  title: string
  description: string
}

const { default: meData } = await import('../assets/me.json');

const projects = await Astro.glob<Project>("../pages/projects/*.md")
console.log(projects)
---

<Layout>
  <Header />

  <section class="hero" id="inicio">
    <h1 class="nombre">{meData.nombre}</h1>
    <h2 class="profesion">{meData['educación actual']}</h2>
    <p class="bio">{meData.bio}</p>
  </section>

  
  <section id="experiencia">
	<h3 class="apartado1">Experiencia</h3>
	{meData.experiencia.map((exp) => (
	  <article class="experiencia">
		<p class="exp-titulo">{exp.Refugio}</p>  <!-- Aquí accedemos a "Refugio" correctamente -->
	  </article>
	))}
  </section>  
  <section id="habilidades">
	<h3 class="apartado2">Habilidades</h3>
	<div class="envoltura-habilidades">
	  <article class="habilidades">
		<p>{meData.habilidades}</p>
	  </article>
	</div>
  </section>

  <section id="proyectos">
    <h3 class="apartado0">Proyectos</h3>
    {projects.map((project) => (
      <a class="enlace-proyecto" href={project.url}>
        <article class="proyecto">
          <h4>{project.frontmatter.title}</h4>
          <p>{project.frontmatter.description}</p>
        </article>
      </a>
    ))}

  

  <Footer />
</Layout>

