---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '../assets/me.json';

const {default : meData} = await import('../assets/me.json');

---


<Layout>

	<p1>{meData.nombre}</p1>
	<p2>{meData.contacto}</p2>
	<p>{meData.idiomas}</p3>
	<p3>{meData['idiomas(sin certificacion)']}</p3>
	<p3>{meData.educacion}</p3>
	<p3>{meData['educación actual']}</p3>
	<h2>{meData.experiencia.map((exp) => (
		<p>{exp.Refugio}</p>

		
		
		}))</h2>

</Layout>
